* {
    margin: 0;
    padding: 0;
box-sizing: border-box;
text-decoration: none;
}

body {
    width: 100%;
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'poppins', sans-serif;
}
header{
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
   width: 100%;
    background-color: rgb(18, 18, 62);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {

    color: rgb(153, 153, 226);
    font-size: 1.02rem;
}


.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;

}

.firstSection>div {
    width: 40%;

}

.leftSection {

    font-size: 3rem;
}

.leftSection .btn {
    padding: 26px 0;
    font-size: 3rem;
    background: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    margin: 40px 0;
}

.rightSection img {
    width: 90%;
}

.purple {
    color: rgb(170, 107, 228);
}

.textgray {
    color: gray;
}

#element {
    color: rgb(170, 107, 228);
}

.secondSection {
    margin: auto;
    max-width: 30vw;
    height: 80vh;
}

hr {
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 60px 84px;
}

.secondSection h1 {
    font-size: 40px;
    font-weight: 500;
}

.secondSection .Box {
    background: white;
    width: 76vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 140px;

}

.image-top {
    position: relative;
    width: 23px;
    top: -32px;
    left: -9px;
}

.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 15px;

}

.vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 12px;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.About .title {

    text-align: center;
    position: relative;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 20px;
    margin-bottom: 60px;
}

.About .title::before {
    content: "";
    position: absolute;
    width: 180px;
    height: 3px;
    left: 50%;
    bottom: 0px;
    background: rgb(153, 153, 226);
    transform: translateX(-50%);
}

.About .title::after {
    content: "who i am";
    position: absolute;
    padding: 5px;
    font-size: 20px;
    color: gray;
    left: 50%;
    bottom: -18px;
    background: rgb(0, 0, 33);
    transform: translateX(-50%);
}

.About .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.about-content .right {
    width: 55%;
}

.about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-content .right .text span {
    color: #7671d0;
}

.about-content .right p {
    text-align: justify;
}

.about-content .right a {
    display: inline-block;
    color: #fff;
    background-color: #9c97f1;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #9c97f1;
    transition: all 0.3s ease;
}

.about-content .right a:hover {
    color: #9c97f1;
    background: none;
}

.about-content .left img {
    height: 250px;
    width: 250px;
    object-fit: cover;

}

.Skills .title {
    text-align: center;
    position: relative;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 20px;
    margin-bottom: 60px;
}

.Skills .title::before {
    content: "";
    position: absolute;
    width: 180px;
    height: 3px;
    left: 50%;
    bottom: 0px;
    background: rgb(153, 153, 226);
    transform: translateX(-50%);

}

.Skills .title::after {
    content: "what i know";
    position: absolute;
    padding: 5px;
    font-size: 20px;
    color: gray;
    left: 50%;
    bottom: -18px;
    background: rgb(0, 0, 33);
    transform: translateX(-50%);
}

.Skills .skills-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.Skills .skills-content cloumn {
    width: calc(50% - 30px);
}

.skills-content .left .text {
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 10px;

}

.skills-content .left p {
   align-items: center;
   
    font-size: 15px;
    justify-content: center;
}


.Skills .skills-content .right .bars {
    margin-bottom: 15px;

}

.Skills .skills-content .right .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Skills .skills-content .right span {
    font-weight: 500;
    font-size: 18px;
}

.skills-content .right .line {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 80%;
    left: 0;
    top: 0;
    background-color: #7671d0;

}

.skills-content .right .html::before {
    width: 90%;
}

.skills-content .right .js::before {
    width: 60%
}

.skills-content .right .css::before {
    width: 80%;
}

.skills-content .right .oops::before {
    width: 20%;
}


.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.Contact .title {
    font-size: 40px;
    font-weight: 500;
}

.contact .title::after {
    content: "get in touch";
}



.contact-content .cloumn {
    width: calc(50% - 30px);
}

.contact .contact-content .text {

    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;

}

.row {
    display: flex;
    height: 65px;
    align-items: center;
}

.row .info {
    margin-left: 30px;
}

.row i {
    color: #9c97f1;
    font-size: 25px;
}

.info .head {
    font-weight: 500;
}

.info .sub-title {
    color: #9c97f1;
}

.fields {
    display: flex;
}

.field {
    height: 60%;
    width: 40%;
}

.fields .field {
    height: 40%;
    width: 20%;
    margin-bottom: 15px;
}

.field input,
.textarea textarea {
    height: 50%;
    width: 100%;
    border: 2px solid #7671d0;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
}

.contact .right form .textarea {
    height: 80px;
}

.textarea textarea {
    padding-top: 10px;
    resize: none;
}

.right form .button {
    width: 10%;
    height: 47px;
}

.button button {
    width: 100%;
    height: 100%;
    border: 2px solid #9c97f1;
    background: #7671d0;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button button:hover {
    color: #7671d0;
    background: none;
}

.fields .field Name {
    margin-right: 10px;
}

.contact .right form email {
    margin-left: 10px;
}

footer {

    background-color: #0e0e1a;

}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.footer ul {
    list-style: none;
}

.coulmn .footer>div {
    width: 223px;
}

footer .footer-rights {
    text-align: center;
    color: gray;
    padding: 12px;
}
@media (max-width:991px) {
    header{
        width: 100vw;
    }
    
.left {
    font-size: 2rem;
    margin-left: 10px;
}

.firstSection {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px ;

}

.firstSection>div {
    width: 100%;

}

.leftSection {

    font-size: 3.5rem;
}

.leftSection .btn {
    padding: 26px 0;
    font-size: 3.5rem;
    background: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    margin: 40px 0;
}

.rightSection img {
    width: 95%;
}
.secondSection {
    margin: auto;
    max-width: 30vw;
    height: 80vh;
}

hr {
    border: 0;
    background: #9c97f1;
    width: 100vw;
    height: 1.2px;
    margin-top: 60px;
    
}
.secondSection{
    width: 100vw;
}
.secondSection h1 {
    font-size: 45px;
    font-weight: 500;
}

.secondSection .Box {
    margin-left: 0;
    padding-left: 0;
    background: white;
    width: 80vw;
    height: 2px;
    margin-top: 20px;
    margin-left: 0;
    padding-left: 0;
    display: flex;
  
}

.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
  margin-left: 0;

}

.image-top {
    position: relative;
    width: 23px;
    top: -32px;
    left: -9px;
}

.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 15px;

}

.vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 12px;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.Contact .title {
    font-size: 40px;
    font-weight: 500;
}

.contact .title::after {
    content: "get in touch";
}



.contact-content .cloumn {
    width: calc(50% - 30px);
}

.contact .contact-content .text {

    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;

}

.row {
    display: inline;
    height: 65px;
    align-items: center;
}

.row .info {
    margin-left: 30px;
}

.row i {
    color: #9c97f1;
    font-size: 25px;
}

.info .head {
    font-weight: 500;
}

.info .sub-title {
    color: #9c97f1;
}


.button button {
    width: 100%;
    height: 100%;
    border: 2px solid #9c97f1;
    background: #7671d0;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

}
@media (max-width:631px) {
    header{
        width: 100vw;
    }
    
    nav{
        padding-left: 50px;
        width: 100%;
    }
.left {
    font-size: 1rem;
    margin-left: 15px;
}

.firstSection {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px ;

}

.firstSection>div {
    width: 100%;

}

.leftSection {

    font-size: 3.5rem;
}

.leftSection .btn {
    padding: 26px 0;
    font-size: 3.5rem;
    background: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    margin: 40px 0;
}

.rightSection img {
    width: 95%;
}
.secondSection {
    margin: auto;
    max-width: 30vw;
    height: 80vh;
}

hr {
    border: 0;
    background: #9c97f1;
    width: 100vw;
    height: 1.2px;
    margin-top: 70px;
    
}
.About .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.about-content .right {
    width: 55%;
    flex: 1 1 17px;
}

.about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}



.about-content .right p {
    text-align: justify;
}

.about-content .right a {
    display: inline-block;
    color: #fff;
    background-color: #9c97f1;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #9c97f1;
    transition: all 0.3s ease;
}

.about-content .right a:hover {
    color: #9c97f1;
    background: none;
}

.about-content .left img {
    flex: 1 1 17px;
    height: 250px;
    width: 250px;
    object-fit: cover;

}

.field input,
.textarea textarea {
    height: 50%;
    width: 200%;
    border: 2px solid #7671d0;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
}


.button button {
    width: 200%;
    height: 100%;
    border: 2px solid #9c97f1;
    background: #7671d0;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}



 footer .coulmn  {
    width: 100vw;

}

footer ul{
    padding: 20px;
}
footer .footer-rights {
    text-align: center;
    color: gray;
    padding: 12px;
}
}
@media (max-width:570px) {
    header{
        width: 100vw;
    }
    
    nav{
        padding-left: 70px;
        width: 100%;
    }

.firstSection {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px ;

}

.firstSection>div {
    width: 100%;

}

.leftSection {

    font-size: 3rem;
}

.leftSection .btn {
    padding: 26px 0;
    font-size: 3rem;
    background: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    margin: 40px 0;
}

.rightSection img {
    width: 80%;
}
.secondSection {
    margin: 0;
    max-width: 30vw;
    height: 80vh;
}
.secondSection{
    width: 100vw;
}
.secondSection h1 {
    font-size: 45px;
    font-weight: 500;
}

.secondSection .Box {
    margin-left: 0;
    padding-left: 0;
    background: white;
    width: 80vw;
    height: 2px;
    margin-top: 20px;
    margin-left: 0;
    padding-left: 15px;
    display: flex;
  
}

.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
  margin-left: 0;

}

.image-top {
    position: relative;
    width: 23px;
    top: -32px;
    left: -9px;
}

.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 15px;

}

.vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 12px;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
hr {
    border: 0;
    background: #9c97f1;
    width: 100vw;
    height: 1.2px;
    margin-top: 70px;
    
}

.field input,
.textarea textarea {
    height: 50%;
    width: 200%;
    border: 2px solid #7671d0;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
}


.button button {
    width: 200%;
    height: 100%;
    border: 2px solid #9c97f1;
    background: #7671d0;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}



 footer .coulmn  {
    width: 100vw;

}

footer ul{
    padding: 20px;
}
footer .footer-rights {
    text-align: center;
    color: gray;
    padding: 12px;
}
}
@media (max-width:405px) {
    header{
        width: 100vw;
    }
    
    nav ul{
     padding: 30px;
        width: 100%;
        right: 0;
    }
    .left{
        display: none;
    }
    
.firstSection {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px ;

}

.firstSection>div {
    width: 100%;

}

.leftSection {

    font-size: 2rem;
}

.leftSection .btn {
    padding: 26px 0;
    font-size: 2rem;
    background: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    margin: 40px 0;
}

.rightSection img {
    width: 90%;
}
.secondSection {
    margin: 0;
    max-width: 30vw;
    height: 80vh;
}
.secondSection{
    width: 100vw;
}
.secondSection h1 {
    font-size: 45px;
    font-weight: 500;
}

.secondSection .Box {
    margin-left: 0;
    padding-left: 0;
    background: white;
    width: 80vw;
    height: 2px;
    margin-top: 20px;
    margin-left: 0;
    padding-left: 15px;
    display: flex;
  
}

.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
  margin-left: 0;

}

.image-top {
    position: relative;
    width: 23px;
    top: -32px;
    left: -9px;
}

.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 15px;

}

.vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 12px;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
hr {
    border: 0;
    background: #9c97f1;
    width: 100vw;
    height: 1.2px;
    margin-top: 70px;
    
}

.About .title::before {
   display: none;
}

.About .title::after {
    display: none;
}

.About .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.about-content .right {
    width: 50%;
    flex: 1 1 17px;
}

.about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}



.about-content .right p {
    text-align: justify;
}

.about-content .right a {
    display: inline-block;
    color: #fff;
    background-color: #9c97f1;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #9c97f1;
    transition: all 0.3s ease;
}

.about-content .right a:hover {
    color: #9c97f1;
    background: none;
}

.about-content .left img {
    flex: 1 1 17px;
    height: 150px;
    width: 150px;
    object-fit: cover;

}

.field input,
.textarea textarea {
    height: 50%;
    width: 250%;
    border: 2px solid #7671d0;
    border-radius: 6px;
    outline: none;
    padding: 0 15px  0 15px;
    font-size: 17px;
}

.Skills .title {
    text-align: center;
    position: relative;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 20px;
    margin-bottom: 60px;
}

.Skills .title::before {
   display: none;

}

.Skills .title::after {
    display: none;
}
.button button {
    width: 400%;
    height: 100%;
    border: 2px solid #9c97f1;
    background: #7671d0;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}



 footer .coulmn  {
    width: 100vw;

}

footer ul{
    padding: 20px;
}
footer .footer-rights {
    text-align: center;
    color: gray;
    padding: 12px;
}
}